.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #d8aded;
}
table {
    
    background-color: #FFFFFF;
}
body {
    background-color: ghostwhite !important; 
}
.myTable {
    border-radius: "25px";
    background-color: white;
}
.nav-link {
    color: white !important;
    font-size: 20px !important;
}
.trash:hover {
    color: red;
}
.btn-orange,
.btn-orange:active,
.btn-orange:visited,
.btn-orange:focus {
    background-color: #FD7D23 !important;
    border-color: #FD7D23 !important;
}

.btn-orange:hover {
    background-color: #DD6300 !important;
    border-color: #DD6300 !important;
}

.orange-color {
    color: #FD7D23 !important;
}

.orange-color:hover {
    color: #DD6300 !important;
}

.orange-no-hover {
    color: #FD7D23 !important;
}

.btn-green,
.btn-green:active,
.btn-green:visited,
.btn-green:focus {
    background-color: #4CBB17 !important;
    border-color: #4CBB17 !important;
}

.btn-green:hover {
    background-color: #289F00 !important;
    border-color: #289F00 !important;
}
.track-button {
    border-color: #F8F8FE !important;
    border-width: 2px !important;
}

.track-button:hover {
    border-color: black !important;
    border-width: 2px !important;
}
.btn-main {
    margin: 3px !important;
}

.title {
    margin-right: 12px !important;
}